
@{
    ViewData["Title"] = "Index";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
        .navigation li {
            display: inline-block;
        }
    </style>
    <style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

    </style>
</head>
<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Doctor" asp-action="GetAllDoctor">Doctors</a>        
        <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Patient" asp-action="GetAllPatients">Patients</a>                
        <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="ScheduleAppointment" asp-action="ViewAppointments">Appointments</a>
        <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Dashboard" asp-action="Logout">Logout</a>
       
    </div>

    <div id="main">
        @*<h2>Sidenav Push Example</h2>
        <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>*@
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Dashboard</span>

        <div class="main">
            <h2>Welcome <i>@ViewBag.username !</i></h2>
        </div>
    </div>

    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
    </script>

</body>

<!--<header>
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
        .navigation li {
            display: inline-block;
        }
    </style>-->
    <!-- Image and text -->
    <!--<nav class="navbar navbar-light bg-light">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/images/Stone-Clinic-Logo.png" width="50" height="50">
            The Stone Clinic
        </a>
    </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navigation">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Doctor" asp-action="GetAllDoctor">Add Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Patient" asp-action="GetAllPatients">Add Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="ScheduleAppointment" asp-action="ViewAppointments">Schedule Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Login" asp-action="Login">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

</header>-->

