
@{
    ViewData["Title"] = "Index";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<header>
    <style>
        .navigation li {
            display: inline-block;
        }
    </style>
    <!-- Image and text -->
    @*<nav class="navbar navbar-light bg-light">*@
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="~/images/Stone-Clinic-Logo.png" width="50" height="50">
        The Stone Clinic
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end">
        <ul class="navigation">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Doctor" asp-action="GetAllDoctor">Add Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Patient" asp-action="GetAllPatients">Add Patient</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="ScheduleAppointment" asp-action="ViewAppointments">Schedule Appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Login" asp-action="Login">Logout</a>
            </li>
        </ul>
    </div>

</nav>
</header>

