@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CmsClientApp.Helper.Resetpassword

@{
    ViewData["Title"] = "ResetPassword";
}

<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        .form-gap {
            padding-top: 70px;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #2828cd;
        }

        .btn-color {
            background-color: #2828cd;
            color: white;
        }

        .container:before {
            
            width: 100%;
            height: 100%;
            background-size: cover;
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            display: block;
            /*filter: blur(2px);*/
        }
    </style>
</header>
<style>
    .navigation li {
        display: inline-block;
    }
</style>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="navbar-brand" href="#">
                    <img src="~/images/Stone-Clinic-Logo.png" width="50" height="50">
                    The Stone Clinic
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse justify-content-end">
        <ul class="navigation">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class="form-gap"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h4>Hello @ViewBag.username, Please Reset your password.</h4>
                            
                            <h2 style="color:red;" class="text-center">Reset Password</h2>
                            <div class="panel-body">

                                <form asp-action="ResetPassword" id="reset-form">
                                    <input asp-for="Username" value="@ViewBag.username" class="form-control" hidden />
                                    <div class="form-group">
                                        <div style="color:black" class="input-group text-left">
                                            <label asp-for="Newpassword" class="control-label"></label><span class="text-danger">*</span>
                                            <input id="Newpassword" asp-for="Newpassword" placeholder="New password" class="form-control" />
                                            <span asp-validation-for="Newpassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div style="color:black" class="form-group">
                                        <div class="input-group text-left">
                                            <label asp-for="Confirmpassword" class="control-label"></label><span class="text-danger">*</span>
                                            <input id="confirmpassword" asp-for="Confirmpassword" placeholder="Confirm password" class="form-control" />
                                            <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-lg btn-color btn-block" value="reset" type="submit">
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}