@model CmsClientApp.Models.SelectDoctors

<h3>Select Doctor</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Selectdoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectSpeciality" class="control-label"></label>
                <select id="selspl" asp-for="SelectSpeciality" class="form-control">
                    <option>General</option>
                    <option>ENT</option>
                    <option>General Surgen</option>
                    <option>Pediatrics</option>
                    <option>Orthopedics</option>
                    <option>Dermatology</option>
                    <option>Pathology</option>
                </select>
                <span asp-validation-for="SelectSpeciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="spl" type="submit" value="Select Doctor" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
